.chat-content {
    grid-row: 2;
    grid-column: 2;
    overflow-y: auto;
    margin-right: 25px;
}

.chat-content::-webkit-scrollbar {
    width: 12px;
}
  
.chat-content::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}

.chat-content::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.chat-content::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}

.chat-content-user {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
    width: 60%;
    background-color: #286bfa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
}

.chat-content-ai {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    width: 60%;
    background-color: #e3e8f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #000;
    font-family: Arial, sans-serif;
}

.chat-content-server-status {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 50%;
    background-color: #afbbd3;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
}